<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Aplikasi sederhana untuk menyimpan rekomendasi film.</p>

    <a href="/">Kembali</a>
  </body>
</html>
