<!DOCTYPE html>
<html>
  <head>
    <title>Tambah Film</title>
  </head>
  <body>
    <h1>Tambah Film Rekomendasi</h1>

    <a href="/">Kembali</a>
    <hr />

    <form method="POST" action="/add">
      <label>Judul Film:</label>
      <input type="text" name="title" required /><br /><br />

      <label>Genre:</label>
      <input type="text" name="genre" required /><br /><br />

      <button type="submit">Simpan</button>
    </form>
  </body>
</html>
