<!DOCTYPE html>
<html>
  <head>
    <title>Rekomendasi Film</title>
  </head>
  <body>
    <h1>Daftar Rekomendasi Film</h1>

    <a href="/add">Tambah Film</a> | <a href="/about">About</a>
    <hr />

    <!-- FILTER DURASI -->
    <form action="/" method="GET" class="mb-3">
      <label>Pilih waktu yang tersedia:</label>
      <select
        name="filterTime"
        class="form-control"
        onchange="this.form.submit()"
      >
        <option value="">Semua Durasi</option>
        <option value="30">± 30 menit (Short Movie)</option>
        <option value="60">± 1 jam</option>
        <option value="90">± 1,5 jam</option>
        <option value="120">± 2 jam</option>
        <option value="150">> 2 jam</option>
      </select>
    </form>

    <ul>
      <% if (movies.length > 0) { %> <% movies.forEach(movie => { %>
      <li>
        <b><%= movie.title %></b> — <%= movie.genre %> <br />
        <strong>Durasi:</strong> <%= movie.duration %> menit
      </li>
      <% }) %> <% } else { %>
      <li>Belum ada film.</li>
      <% } %>
    </ul>
  </body>
</html>
